* {
  all: unset;
}

$bg: #1f2335;
$fg: #c0caf5;
$interactive: #292e42;
$hover: #414868;
$active: #7dcfff;

.status-bar {
  padding: 12px;
  padding-right: 0;
  font-size: 14px;
  font-weight: bold;
  color: $fg;
}

.status-system {
  background: $bg;
  border-radius: 100px;
  /* padding: 10px 6px; */
}

.status-group {
  background: $bg;
  border-radius: 100px;
  padding: 4px;
}

.status-el {
  background: $interactive;
  border-radius: 100px;
  padding: 8px;
}

.status-el:hover {
  background: $hover;
}

.status-el.focused {
  background: $active;
  color: $bg;
}

.status-clock {
  background: $bg;
  border-radius: 100px;
  padding: 16px 0;
}

.menu {
  background: rgba(31, 35, 53, 0.8);
  border-radius: 8px;
  padding: 8px;
}

.menu-system-action {
  background: $interactive;
  border-radius: 6px;
  padding-top: 12px;
  padding-bottom: 8px;
}

.menu-system-action:hover {
  background: $hover;
}
